/* Fond en gradient */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, #000000, #c67e21);
  text-align: center;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  letter-spacing: 2px;
}

/* Boutons */
.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #f1f1f1;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: white;
}

.btn-outline:hover {
  background-color: white;
  color: #000000;
}
